.loader {
	border: 16px solid white; border-top: 16px solid blue;
	border-radius: 50%;
	position: fixed;
    left: 45%; top: 40%;
	width: 60px; height: 60px;
	z-index: 9999;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); border-top-color: red;}
	25% { transform: rotate(90deg); border-top-color: cyan;}
	50% { transform: rotate(180deg); border-top-color: green;}
	75% { transform: rotate(270deg); border-top-color: yellow;}
	100% { transform: rotate(360deg); border-top-color: blue}
}